.footer {
    background: linear-gradient(20deg, rgba(53, 69, 169, 1) 0%, rgba(43, 55, 132, 1) 10%, rgba(16, 31, 62, 1) 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
    border: 1px solid rgba(53, 69, 169, 1);

}

@media screen and (max-width:410px) {
    .icon {
        width: 20px;
        height: 20px;
    }

    .footer span {
        font-size: 13px;
    }
}

@media screen and (max-width:330px) {
    .icon {
        width: 18px;
        height: 18px;
    }

    .footer span {
        font-size: 12px;
    }
}